body {
  padding-bottom: 48px;
  font-family: Roboto;
}

.main {
  padding: 48px 32px 0;
}

.title {
  text-align: center;
  color: black;
}

.reports {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 24px;
}

.report-results {
  display: flex;
  align-items: center;
  flex-direction: column;
}