body {
  font-family: Roboto;
}

.main {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.main__section-divider {
  width: 100%;
}

.title {
  text-align: center;
  color: black;
}

.reports {
  display: flex;
  justify-content: space-evenly;
  gap: 64px;
}

.report-results {
  display: flex;
  align-items: center;
  flex-direction: column;
}